* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body,
html {
  width: 100%;
  height: 100%;
}
div {
  border-radius: 5px;
}
#box {
  width: 100px;
  height: 30px;
  background: linear-gradient(#81726d, #4fab51);
}
#up {
  width: 100px;
  height: 30px;
  background: linear-gradient(#7e6b74, #4353b2);
}
